<a href="https://colab.research.google.com/github/jakariaaa27/Coursera_Tools_for_Data_Science/blob/main/JAKARIA_Peer_graded_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 2: Create a Markdown Cell with the Title of the Notebook
# JAKARIA_Peer-graded Assignment

Exercise 3: Create a Markdown Cell for an Introduction

## Introduction
This notebook explores the fundamentals of data science, including languages, libraries, tools, and basic arithmetic operations. It's designed for beginners interested in data science.

Exercise 4: Create a Markdown Cell to List Data Science Languages

## Data Science Languages
1. Python
2. R
3. SQL
4.  Julia

Exercise 5: Create a Markdown Cell to List Data Science Libraries
## Data Science Libraries
1. Pandas (Python)
2. NumPy (Python)
3. TensorFlow (Python)
4. ggplot2 (R)

Exercise 6: Create a Markdown Cell with a Table of Data Science Tools
## Data Science Tools

| Tool         | Type             | Description                              |
|--------------|------------------|------------------------------------------|
| Jupyter      | IDE              | Interactive development environment     |
| TensorFlow   | Library (Python) | Machine learning and neural networks    |
| ggplot2      | Library (R)      | Data visualization                       |
| SQL          | Language         | Database management                      |

Exercise 7: Create a Markdown Cell Introducing Arithmetic Expression Examples
## Arithmetic Expression Examples
In data science, arithmetic expressions are used for calculations. Examples include addition, subtraction, multiplication, and division.

In [ ]:
#Exercise 8: Create a Code Cell to Multiply and Add Numbers

# Multiply and add numbers
result = (3 * 10) + (5 + 2)
print(result)

37

In [3]:
#Exercise 9: Create a Code Cell to Convert Minutes to Hours
200//60

3

Exercise 10: Insert a Markdown Cell to List Objectives
## Objectives:
* Understand basic data science concepts.
* Learn about data science languages and libraries.
* Perform simple arithmetic operations.

## Author
 Jakaria