<a href="https://colab.research.google.com/github/jakariaaa27/Coursera_Tools_for_Data_Science/blob/main/JAKARIA_Peer_graded_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 2: Create a Markdown Cell with the Title of the Notebook
# JAKARIA_Peer-graded Assignment

Exercise 3: Create a Markdown Cell for an Introduction

## Introduction
This notebook explores the fundamentals of data science, including languages, libraries, tools, and basic arithmetic operations. It's designed for beginners interested in data science.

Exercise 4: Create a Markdown Cell to List Data Science Languages

## Data Science Languages
- Python
- R
- SQL
- Julia

Exercise 5: Create a Markdown Cell to List Data Science Libraries
## Data Science Libraries
- Pandas (Python)
- NumPy (Python)
- TensorFlow (Python)
- ggplot2 (R)

Exercise 6: Create a Markdown Cell with a Table of Data Science Tools
## Data Science Tools

| Tool         | Type             | Description                              |
|--------------|------------------|------------------------------------------|
| Jupyter      | IDE              | Interactive development environment     |
| TensorFlow   | Library (Python) | Machine learning and neural networks    |
| ggplot2      | Library (R)      | Data visualization                       |
| SQL          | Language         | Database management                      |

Exercise 7: Create a Markdown Cell Introducing Arithmetic Expression Examples
## Arithmetic Expression Examples
In data science, arithmetic expressions are used for calculations. Examples include addition, subtraction, multiplication, and division.

In [1]:
#Exercise 8: Create a Code Cell to Multiply and Add Numbers

# Multiply and add numbers
result = (3 * 10) + (5 + 2)
print(result)

37

In [2]:
#Exercise 9: Create a Code Cell to Convert Minutes to Hours

# Convert minutes to hours
minutes = 120
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours.")

120 minutes is equal to 2.0 hours.

Exercise 10: Insert a Markdown Cell to List Objectives
## Objectives
1. Understand basic data science concepts.
2. Learn about data science languages and libraries.
3. Perform simple arithmetic operations.

## Author
- Jakaria